@native: rgb(142, 214, 41);
@pending: rgb(103, 131, 245);
@unknown: rgb(136, 124, 124);
@platinum: rgb(180, 199, 220);
@gold: rgb(207, 181, 59);
@silver: rgb(166, 166, 166);
@bronze: rgb(205, 127, 50);
@borked: rgb(255, 80, 80);

@supported: rgb(102, 168, 15);
@running: rgb(33, 122, 204);
@planned: rgb(174, 74, 199);
@broken: rgb(240, 113, 46);
@denied: rgb(235, 63, 63);

.protonfox-badge {
	padding: 1px;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
	margin-left: 3px;

	span {
		padding: 0 15px;
		font-size: 15px;
		line-height: 30px;
	}
}

.protonfox-rating-mixin(@color) {
	color: @color;

	&.protonfox-rating-bright {
		color: lighten(@color, 15%);
	}

	&.protonfox-badge {
		background-color: fade(@color, 20%) !important;

		&:hover {
			color: #fff;
			background-color: fade(@color, 40%) !important;
		}
	}

	&.protonfox-tag {
		background-color: fade(@color, 20%) !important;

		&.protonfox-search {
			position: relative;
			top: -5px;
			padding: 0 6px;
			border-radius: 4px;
			margin-right: 4px;
		}
	}
}

.protonfox-rating {
	&-native {
		.protonfox-rating-mixin(@native)
	}

	&-unknown {
		.protonfox-rating-mixin(@unknown)
	}

	&-pending {
		.protonfox-rating-mixin(@pending)
	}

	&-platinum {
		.protonfox-rating-mixin(@platinum)
	}

	&-gold {
		.protonfox-rating-mixin(@gold)
	}

	&-silver {
		.protonfox-rating-mixin(@silver)
	}

	&-bronze {
		.protonfox-rating-mixin(@bronze)
	}

	&-borked {
		.protonfox-rating-mixin(@borked)
	}
}

.protonfox-ac-rating {
	&-supported {
		.protonfox-rating-mixin(@supported)
	}

	&-running {
		.protonfox-rating-mixin(@running)
	}

	&-planned {
		.protonfox-rating-mixin(@planned)
	}

	&-broken {
		.protonfox-rating-mixin(@broken)
	}

	&-denied {
		.protonfox-rating-mixin(@denied)
	}
}

.protonfox-icon {
	background-color: currentColor !important;
	width: 1rem;
	height: 1rem;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;

	.match_name & {
		position: relative;
		top: -3px;
		padding: 0 !important;
	}
}
