@native: rgb(142, 214, 41);
@pending: rgb(103, 131, 245);
@unknown: rgb(136, 124, 124);
@platinum: rgb(180, 199, 220);
@gold: rgb(207, 181, 59);
@silver: rgb(166, 166, 166);
@bronze: rgb(205, 127, 50);
@borked: rgb(255, 80, 80);

.protonfox-badge {
	padding: 1px;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
	margin-left: 3px;

	span {
		padding: 0 15px;
		font-size: 15px;
		line-height: 30px;
	}
}

.protonfox-rating-mixin(@color) {
	color: @color;

	&.protonfox-rating-bright {
		color: lighten(@color, 15%);
	}

	&.protonfox-badge {
		background-color: fade(@color, 20%) !important;

		&:hover {
			color: #fff;
			background-color: fade(@color, 40%) !important;
		}
	}

	&.protonfox-tag {
		background-color: fade(@color, 20%) !important;

		&.protonfox-search {
			position: relative;
			top: -5px;
			padding: 0 6px;
			border-radius: 4px;
		}
	}
}

.protonfox-rating-native { .protonfox-rating-mixin(@native) }
.protonfox-rating-unknown { .protonfox-rating-mixin(@unknown) }
.protonfox-rating-pending { .protonfox-rating-mixin(@pending) }
.protonfox-rating-platinum { .protonfox-rating-mixin(@platinum) }
.protonfox-rating-gold { .protonfox-rating-mixin(@gold) }
.protonfox-rating-silver { .protonfox-rating-mixin(@silver) }
.protonfox-rating-bronze { .protonfox-rating-mixin(@bronze) }
.protonfox-rating-borked { .protonfox-rating-mixin(@borked) }